*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
}

:root {
  --bg-color-base: #181818;
  --bg-color-highlight: #232323;

  --text-subdued: rgb(55, 55, 55);
  --text-base: rgb(95, 95, 95);
  --text-highlight: rgb(125, 125, 125);
  --text-active: rgb(140, 140, 140);

  --game-height: 100%;
  --pings-width: clamp(35%, 82.5vw, 40%);
  --view-width: calc(100% - var(--pings-width));

  /* z-index */

  --z-index-navbar: 100;
  --z-index-settings: 110;
  --z-index-achievements: 110;
}

/* root */
#root {
  height: 100dvh;
  background-color: var(--bg-color-base);
  overflow: hidden;
}
/* navbar */
#navbar {
  position: fixed;
  z-index: var(--z-index-navbar);
  bottom: clamp(0.75rem, 2.4vw, 1rem);
  padding: 0 clamp(1rem, 4.4vw, 3rem);
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: clamp(0.85rem, 2.4vw, 1rem);
}
#navbarLinks {
  display: flex;
  .link:not(:nth-child(1)),
  .link > * {
    text-decoration: none;
    margin-left: clamp(0.5rem, 2.4vw, 1.5rem);
  }
  .link:hover,
  .link:hover > *,
  .linkOpenClose:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--text-highlight);
  }
}
#navbar > *,
#navbarLinks .link > * {
  color: var(--text-base);
}
/* settings */
#settings {
  position: fixed;
  z-index: var(--z-index-settings);
  top: 0;
  right: 0;

  height: 90%;
  width: 350px;
  background: rgb(41, 41, 41);
  display: none;

  .container {
    padding: 1.5rem 1rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .head {
      display: flex;
      .title {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
}

/* main */
#main {
  height: 100%;
}
#saved {
  position: fixed;
  top: 1rem;
  left: 0rem;
  padding: 0 clamp(1rem, 4.4vw, 3rem);
  color: var(--text-base);
}
#container {
  padding: 2rem 0.5rem 0;
  margin: 0 auto;
  width: clamp(700px, 80.5vw, 800px);
  max-width: 110rem;
  height: 100%;
  display: flex;
}
#container > * {
  font-size: clamp(0.95rem, 2.4vw, 1rem);
  color: var(--text-base);
}
#pings {
  position: relative;
  width: var(--pings-width);
  display: flex;
  flex-direction: column;
}
#pings .ping {
  margin-bottom: 7.5px;
}
#pings #fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(24, 24, 24, 0) 0%,
    rgba(24, 24, 24, 1) 100%
  );
}
#view {
  padding-left: 1rem;
  width: var(--view-width);
  display: flex;
  flex-direction: column;
}
#pathfinderView {
  height: 100%;
  display: flex;
  flex-direction: row;
  #pathfinderList {
    width: max-content;
    .container {
      display: flex;
      flex-direction: column;
      .pathfinder:not(:last-of-type) {
        margin-bottom: 0.34rem;
      }
      .pathfinder {
        color: var(--text-base);
        cursor: pointer;
        width: max-content;
      }
      .pathfinder:hover {
        color: var(--text-highlight);
      }
      .pathfinder:active {
        cursor: grab;
      }
      .locked {
        color: var(--text-subdued);
        /*text-decoration: line-through;*/
        pointer-events: none;
      }
      .selected {
        color: var(--text-active);
      }
      .selected:hover {
        color: var(--text-active);
      }
    }
  }
  #pathfinderContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    .hr {
      margin-top: 0.33rem;
      height: 0.5px;
      background-color: var(--text-base);
    }
    #pathfinderHeader {
      display: flex;
      justify-content: end;
      .container {
        display: flex;
        flex-direction: column;
        #pathfinderTitle {
          font-size: 3rem;
        }
        .wrapper {
          display: flex;
          align-items: center;
          justify-content: end;
          image-rendering: pixelated;

          #pathfinderClassText {
            margin-left: 0.43rem;
            font-size: 1.5rem;
          }
        }
      }
    }
    #pathfinderEffectivenessPreview {
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding-top: 0.15rem;
      .container {
        display: flex;
        justify-content: end;
        gap: 3.2rem;
        .effPreview {
          display: flex;
        }
        .effPreview .effPreviewHeader {
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding-right: 0.25rem;
          font-size: 0.875rem;
          color: var(--text-subdued);
        }
        .effPreview .tile:not(:last-child) {
          margin-right: 0.25rem;
        }
        #enemyEffPreview {
          padding-right: 1rem;
        }
      }
      .hr {
        width: 300px;
        margin-left: auto;
      }
    }
    #pathfinderInfo {
      display: flex;
      justify-content: end;
      padding: 1rem 0;
      .container {
        width: 272px;
        font-size: 0.9rem;
        #pathfinderQuote {
          text-align: center;
        }
      }
    }
    #pathfinderSkills {
      display: flex;
      justify-content: end;
      .container {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
        .skill {
          display: flex;
          flex-direction: column;
          text-align: end;
        }
      }
    }
    #pathfinderParty {
      margin-top: auto;
      padding-bottom: 4rem;
      .container {
        display: flex;
        align-items: center;

        #pathfinderPartySlots .wrapper {
          display: flex;
        }
        #pathfinderPartySlots .slot {
          height: clamp(45px, 2.4vw, 50px);
          width: clamp(45px, 2.4vw, 50px);
        }
        #pathfinderPartySlots .slot .diamond {
          transform: rotate(45deg);
          border: 1px solid var(--text-subdued);
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #pathfinderPartySlots .slot .diamond .icon {
          transform: rotate(-45deg);
          width: 70%;
          height: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          image-rendering: pixelated;
        }
        #pathfinderPartySlots .slot:not(:last-child) {
          margin-right: clamp(1.5rem, 2.4vw, 2.5rem);
        }
        #pathfinderPartySlots .slot:hover .diamond {
          border: 1px solid var(--text-base);
        }
        #pathfinderPartySlots .selected .diamond {
          border: 1px solid var(--text-base);
        }
        #pathfinderPartySlots .selected:hover .diamond {
          border: 1px solid var(--text-base);
        }
        #pathfinderSelectAndFinish {
          margin-left: 3rem;
          display: flex;
          align-items: center;
        }
        #pathfinderSelectAndFinish .line {
          height: 75px;
          border-left: 0.5px solid var(--text-base);
          margin-right: 2rem;
        }
        #pathfinderSelectAndFinish #buttons {
          display: flex;
        }
      }
    }
  }
}
#sinSelectionView {
  display: flex;
  justify-content: end;
  height: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      padding-bottom: 0.25rem;
      user-select: none;
      .title {
        font-size: 3rem;
        text-align: end;
      }
    }
    .seperator {
      border-bottom: 2px solid var(--text-base);
    }
    #sinsWrapper {
      display: flex;
      flex-direction: column;
      padding-top: 0.5rem;
      text-align: end;
      height: 300px;
      .sin {
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 1rem;
        padding-bottom: 0.5rem;
        color: var(--text-base);
        cursor: pointer;
      }
      .sin:hover {
        color: var(--text-active);
      }
    }
    #buttonsWrapper {
      margin-top: auto;
      padding-bottom: 4rem;
    }
  }
}
#introView {
  display: flex;
  justify-content: end;
  height: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      padding-bottom: 0.25rem;
      user-select: none;
      .title {
        font-size: 3rem;
        text-align: end;
      }
    }
    .seperator {
      border-bottom: 2px solid var(--text-base);
    }
    .description {
      padding-top: 0.5rem;
      padding-bottom: 1rem;
    }
  }
}

/* components */
.button {
  image-rendering: pixelated;
  position: relative;
  display: block;
  padding: 5px 10px;
  border: 1px solid var(--text-base);
  font-size: 1rem;
  width: 100px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.button:hover {
  text-decoration: underline;
}
.button.disabled {
  cursor: pointer;
  border: 1px solid var(--text-subdued);
  color: var(--text-subdued);
}
.button.disabled:hover {
  text-decoration: none;
}

/* mediaqueries */

@media (max-width: 576px) {
  #settings {
    width: 100%;
    right: 0;
    height: 80%;
  }
}
