*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
}

:root {
  --bg-color-base: #181818;
  --bg-color-highlight: #232323;
  --text-base: rgb(95, 95, 95);
  --text-highlight: rgb(125, 125, 125);
  --text-subdued: rgb(55, 55, 55);

  --game-height: 100%;
  --pings-width: clamp(30%, 82.5vw, 33%);
  --view-width: calc(100% - var(--pings-width));

  /* z-index */

  --z-index-navbar: 100;
  --z-index-settings: 110;
  --z-index-achievements: 110;
}

/* root */
#root {
  height: 100dvh;
  background-color: var(--bg-color-base);
  overflow: hidden;
}

/* navbar */
#navbar {
  position: fixed;
  z-index: var(--z-index-navbar);
  bottom: clamp(0.75rem, 2.4vw, 1rem);
  padding: 0 clamp(1rem, 4.4vw, 3rem);
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: clamp(0.85rem, 2.4vw, 1rem);
}
#navbarLinks {
  display: flex;
  .link:not(:nth-child(1)),
  .link > * {
    text-decoration: none;
    margin-left: clamp(0.5rem, 2.4vw, 1.5rem);
  }
  .link:hover,
  .link:hover > *,
  .linkOpenClose:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--text-highlight);
  }
}
#navbar > *,
#navbarLinks .link > * {
  color: var(--text-base);
}

/* settings */
#settings {
  position: fixed;
  z-index: var(--z-index-settings);
  top: 0;
  right: 0;

  height: 90%;
  width: 350px;
  background: rgb(41, 41, 41);
  display: none;
}
#settings .container {
  padding: 1.5rem 1rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#settings .container .head {
  display: flex;
  .title {
    font-weight: bold;
    font-size: 1.5rem;
  }
}
/* main */
#main {
  height: 100%;
}
#saved {
  position: fixed;
  top: 1rem;
  left: 0rem;
  padding: 0 clamp(1rem, 4.4vw, 3rem);
  color: var(--text-base);
}
#container {
  margin: 0 auto;
  padding: 1rem 1rem 0;
  width: clamp(850px, 82.5vw, 1100px);
  height: 100%;
  max-width: 110rem;
  display: flex;
}
#container > * {
  font-size: clamp(0.95rem, 2.4vw, 1rem);
  color: var(--text-base);
}
#pings {
  width: var(--pings-width);
  display: flex;
  flex-direction: column;
}
#pings .ping {
  margin-bottom: 7.5px;
}
#view {
  padding-left: 1rem;
  width: var(--view-width);
  display: flex;
  flex-direction: column;
}
#pathfinderView {
  height: 100%;
  display: flex;
  flex-direction: row;
  #pathfinderList {
    width: max-content;
    #pathfinders {
      display: flex;
      flex-direction: column;
      .pathfinder:not(:last-of-type) {
        margin-bottom: 0.34rem;
      }
      .pathfinder {
        color: var(--text-base);
        cursor: pointer;
        width: max-content;
      }
      .pathfinder:hover {
        color: var(--text-highlight);
      }
      .pathfinder:active {
        cursor: grab;
      }
      .locked {
        color: var(--text-subdued);
        /*text-decoration: line-through;*/
        pointer-events: none;
      }
    }
  }
  #pathfinderContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    .hr {
      margin-top: 0.33rem;
      height: 0.5px;
      background-color: var(--text-base);
    }

    #pathfinderHeader {
      display: flex;
      flex-direction: column;
      align-items: end;
      #pathfinderTitle {
        font-size: 2.5rem;
      }
      #pathfinderClassC {
        image-rendering: pixelated;
        display: flex;
        align-items: center;
        #pathfinderClassText {
          margin-left: 0.43rem;
          font-size: 1.2rem;
        }
      }
    }
    #pathfinderLayoutPreview {
      padding-top: 0.24rem;
      .layoutContainer {
        display: flex;
        flex-direction: column;
        justify-content: end;
      }
    }
  }
}

/* components */
.button {
  image-rendering: pixelated;
  position: relative;
  display: block;
  padding: 5px 10px;
  border: 1px solid var(--text-base);
  font-size: 1rem;
  width: 100px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.button:hover {
  text-decoration: underline;
}

/* mediaqueries */

@media (max-width: 576px) {
  #settings {
    width: 100%;
    right: 0;
    height: 80%;
  }
}
