*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
}

:root {
  --bg-color-base: #181818;
  --bg-color-highlight: #232323;
  --text-base: rgb(95, 95, 95);
  --text-subdued: rgb(55, 55, 55);

  --game-height: 100%;
  --padding-base: max(
    1rem,
    min(
      clamp(6vw, 30vw, 18vw) - clamp(1.05rem, 12vw, clamp(3.5rem, 12vw, 3rem))
    )
  );

  /* zindexes */

  --z-index-navbar: 100;
  --z-index-settings: 110;
  --z-index-achievements: 110;
}
#root {
  height: 100dvh;
  background-color: var(--bg-color-base);
  overflow: hidden;
}
#navbar {
  position: fixed;
  z-index: var(--z-index-navbar);
  bottom: clamp(0.75rem, 2.4vw, 1rem);
  padding: 0 clamp(1rem, 4.4vw, 3rem);
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: clamp(0.85rem, 2.4vw, 1rem);
}
#navbarLinks {
  display: flex;
  .link:not(:nth-child(1)),
  .link > * {
    text-decoration: none;
    margin-left: clamp(0.5rem, 2.4vw, 1.5rem);
  }
  .link:hover,
  .link:hover > *,
  .linkOpenClose:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
#navbar > *,
#navbarLinks .link > * {
  color: var(--text-subdued);
}
#main {
  height: 100%;
}
#saved {
  position: fixed;
  top: 1rem;
  right: 3rem;
  color: var(--text-base);
}
#container {
  margin: 0 auto;
  padding: 1rem var(--padding-base) 0;
  width: 100%;
  max-width: 110rem;
  display: flex;
}
#container > * {
  font-size: clamp(0.95rem, 2.4vw, 1rem);
  color: var(--text-base);
}
#pings {
  width: 500px;
  display: flex;
  flex-direction: column;
}
#pings .ping {
  margin-bottom: 7.5px;
}
#view {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#header {
  margin-bottom: 1rem;
  display: flex;
}
#header .actContainer {
  margin-right: clamp(0.5rem, 2.4vw, 1.5rem);
  display: flex;
}
#header .actContainer .actName {
  font-size: clamp(0.85rem, 2.4vw, 0.9rem);
}
#header .actContainer .actInnerWrapper {
  display: flex;
}
#header .actContainer .actInnerWrapper .chapter {
  text-decoration: none;
}
#header .actContainer .actInnerWrapper .chapter:hover {
  text-decoration: underline;
}
.button {
  position: relative;
  display: block;
  padding: 5px 10px;
  border: 1px solid var(--text-base);
  font-size: 1rem;
  width: 100px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.button:hover {
  text-decoration: underline;
}

#settings {
  position: fixed;
  z-index: var(--z-index-settings);
  bottom: 0;
  right: clamp(3rem, 4.4vw, 6rem);
  height: 90%;
  width: 350px;
  background: none repeat scroll 0 0 white;
  border: 2px solid black;
  box-shadow: 5px 5px 5px white;
  transform: translateY(100%);
}
#settings .container {
  padding: 1.5rem 1rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#settings .container .head {
  display: flex;
  .title {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  #settings {
    width: 100%;
    right: 0;
    height: 80%;
  }
}
